<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Departments</title>
    <style>
table, th, td {
  border:1px solid black;
}
</style>
</head>
<body>
<table>
    <tr>
        <th>Department</th>
        <th>Add</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>List of employees</th>
    </tr>
    <th:block th:each="department : ${departments}">
        <tr>
            <td th:text="${department.name}"></td>
            <td><form action="/createDepartment" method="get" th:object="${department}">
                <input type="submit" value="Add">
            </form></td>
            <td><form action="/createDepartment" method="get" th:object="${department}">
                <input type="submit" value="Edit">
            </form></td>
            <td><form action="/deleteDepartment" method="post" th:object="${department}">
                <input type="submit" value="Delete">
            </form></td>
            <td><form action="/createDepartment" method="get" th:object="${department}">
                <input type="submit" value="List">
            </form></td>
        </tr>
    </th:block>
</table>
<form action="/createDepartment" method="get" th:object="${department}">
    <input type="submit" value="Create department">
</form>
</body>
</html>