<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<form class="row g-3">
    <div>
        <label>First Name</label>
        <input type="text" value="">
    </div>
    <div>
        <label>Last Name</label>
        <input type="text" value="">
    </div>
    <div>
        <label>Email</label>
        <input type="text" placeholder="user@mail.com">
    </div>
    <div>
        <label>Year</label>
        <input type="text" value="">
    </div>
    <div class="EmployeeController">
        <label>Month</label>
        <select>
            <option selected>Month</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="3">4</option>
            <option value="3">5</option>
            <option value="3">6</option>
            <option value="3">7</option>
            <option value="3">8</option>
            <option value="3">9</option>
            <option value="3">10</option>
            <option value="3">11</option>
            <option value="3">12</option>
        </select>
    </div>
    <div>
        <label>Day</label>
        <input type="text" value="">
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</html>